<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="l.keepassa">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <service
                android:name=".autofill.AutofillCredentialsService"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
